body, html {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  color: #303030;
  padding: 40px 0;
}

h2 {
  font-size: 34px;
  color: #303030;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  color: #303030;
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 100;
  color: #848484;
}

h5 {
  font-size: 18px;
  font-weight: 100;
  color: #848484;
}

p {
  font-size: 17px;
  font-weight: 100;
  line-height: 1.8;
  color: #303030;
}

.writing {
  margin-top: 45px;
  margin-bottom: 0px;
}

.sub-list {
  padding: 30px 0;
}

blockquote {
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  float: middle;
  border-left: 3px solid rgba(0,0,0,.84);
  padding-left: 20px;
  margin: 50px 50px 50px -23px;
}

object {
  height: 640px;
  width: 80%;
}

.py-3 {
  margin-left: auto;
  margin-right: auto;
}

.py-2 {
  margin-left: auto;
  margin-right: auto;
}

.py-1 {
  margin-left: auto;
  margin-right: auto;
}

.py-0 {
  margin-left: auto;
  margin-right: auto;
}

.document-viewer {
  margin: 20px auto;
}
.subhead {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 50em;
}

.container-img {
  margin: 0 auto;
  padding: 0 5%;
  max-width: 100em;
}

.container-vid {
  margin: 0 auto;
  padding: 0 15%;
  max-width: 50em;
}
.hero{
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-hero {
  margin: 0 auto;
  max-width: 100%;
}
.embed-responsive {
  width: 50em;
  margin: 0 auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 30%;
    max-width: 80%;
    padding: 3% 3%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-container {
  padding: 0;
}

.bg {
  background-image: url("../img/2.jpg");
  background-color: none;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

.img-container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  max-width: 160px;
  max-height: 60px;
}


.img-fluid {
  padding: 15%;
}

.img-center {
  vertical-align: middle;
}

.nav {
    margin: 0 auto;
    bottom: 0;
    padding: 10px;
}

.fixed-top {
  background: inherit;
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  top: 0px;
  -webkit-backdrop-filter: blur(10px);
}

.fixed-bottom{
  background: inherit;
  /* background-color: rgba(255,255,255,0.9); */
  /* background-color: #191919; */
  background-color: rgba(25, 25, 25, 0.9);
  position: fixed;
  bottom: 0px;
  -webkit-backdrop-filter: blur(10px);
}

.blur{
  background: inherit;
  backdrop-filter: blur(2px);
}

.navigation {
    margin: 0 auto;
}

.nav-link {
  float: left;
  display: inline-block;
  /* color: #4a4a4a; */
  color: #bbb;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 10px;
}

.nav-item {
  color: #bbb;
}

.active {
  color: #58E2FF;
  font-weight: 400;
}

.active a:hover {
    font-weight: 600;
    color: #58E2FF;
    text-decoration: none;
}
.active a::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

a.hover-link:hover {
  font-weight: 600;
  color: #58E2FF;
  text-decoration: none;
  padding: 10px 8px;
}

a.hover-link::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.circle {
    box-shadow: 3px 3px 20px 2px #ddd;
    background: #303030;
    width: 140px;
    height: 140px;
    margin: 30px auto;
    border-radius: 50%;
}

.circle:hover {
  box-shadow: 6px 6px 20px 2px #d2d2d2;
  background: #58E2FF;
}

.top-header {
  position-fixed;
  top: 0;
  left: 0;
}

.header-container {
  height: 100%;
  width: auto;
}

.header-wrapper {
  padding-top: 100px;
}

.section-wrapper {
  padding: 150px 0;
}

.big-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-wrapper {

  margin: 0 45px;
}

.home-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #191919;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    background-color: white;
  }

  to {
    opacity: 1;
    background-color: #191919;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    background-color: white;
  }

  to {
    opacity: 1;
    background-color: #191919;
  }
}

.fade-in {
    width: 100%;
    height: 100%;
    background-color: #191919;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@-webkit-keyframes fade-h4 {
  from {
    opacity: 0;
    color: white;
  }

  to {
    opacity: 1;
    color: #848484;
  }
}

@keyframes fade-h4 {
  from {
    opacity: 0;
    color: white;
  }

  to {
    opacity: 1;
    color: #848484;
  }
}

.fade-h4 {
    animation-name: fade-h4;
    animation-delay: 0s;
    animation-duration: 4s;
}

@-webkit-keyframes fade-sig {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-sig {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-sig {
    animation-name: fade-sig;
    animation-delay: 0s;
    animation-duration: 4s;
}


.card-wrapper {
  margin: 10px 15px 10px 0;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card {
  box-shadow: 3px 3px 20px 2px #ddd;
  border-radius: 0px;
  height: 170px;
  width: 300px;
  max-width: 100%;
  margin: 30px auto 0;
  float: center;
  text-align: center;
}

.card:hover {
  box-shadow: 6px 6px 20px 2px #d2d2d2;
}


#logo {
  margin: auto;
}

#ytplayer {
  position: relative;
  margin-left: 100 auto;
}

#verizon {
  position: relative;
  margin-left: 22px;

}

#signature {
  width: 400px;
  fill: #fff;
}

#title {
  font-weight: 100;
  margin-top: 110px;
}

#list {
  margin: 20px 0;
}

#coded-by-me {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 100px 0;
}

.center {
  margin: auto;
}

.middle {
  vertical-align: middle;
}
.signature-padding {
  padding: 20%;
}

.break400 {
  height: 400px;
  width: auto;
}
.break100 {
  height: 100px;
  width: auto;
}

.break90 {
  height: 90px;
  width: auto;
}
.break80 {
  height: 80px;
  width: auto;
}
.break70 {
  height: 70px;
  width: auto;
}
.break60 {
  height: 60px;
  width: auto;
}

.break40 {
  height: 20px;
  width: auto;
}

.h4-wrapper {
  margin-top: 20px;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 835px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  p {
    font-size: 17px;
  }

  .bg {
    height: 300px;
  }
  .container {
    padding: 0 10%;
  }
  .center {
      padding: 6% 0;
  }
  .embed-responsive {
    width: 100%;
    height: auto;
  }
  .hero {
    width: 100%;
    height: auto;
  }
  .break90 {
    height: 45px;
    width: auto;
  }
  #signature {
    width:70%;
    fill: #fff;
  }
  #margin {
    margin: auto;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
